workflows/olostep-n8n-investment-agent.workflow.json
{
  "name": "Olostep Investment Research HTML Email - Weekday Market Open",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 9 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "10a37912-7f33-432e-a547-286f4dec112a",
      "name": "Weekday Market Open Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "12f634a8-690d-466a-8cca-fc12aa8b67f7",
      "name": "Manual Test Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "watchlist-tickers",
              "name": "tickers",
              "type": "string",
              "value": "MSFT,NVDA"
            },
            {
              "id": "watchlist-report-email-to",
              "name": "email_to",
              "type": "string",
              "value": "recipient@example.com"
            },
            {
              "id": "watchlist-report-email-from",
              "name": "email_from",
              "type": "string",
              "value": "sender@example.com"
            },
            {
              "id": "watchlist-report-subject-prefix",
              "name": "email_subject_prefix",
              "type": "string",
              "value": "Daily Investment Research Report"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ],
      "id": "6a00c70d-b243-4164-8586-20d13e43598d",
      "name": "Investment Watchlist"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst tickers = data.tickers.split(',').map(t => t.trim()).filter(Boolean);\nreturn tickers.map(ticker => ({\n  json: {\n    ticker,\n    investment_query: `${ticker} latest investor relations SEC filings earnings call transcript financial news risk factors catalysts`,\n    email_to: data.email_to,\n    email_from: data.email_from,\n    email_subject_prefix: data.email_subject_prefix\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "b1a726a9-1150-46cd-ab35-96e2edcdaccb",
      "name": "Split Tickers"
    },
    {
      "parameters": {
        "operation": "search",
        "query": "={{ $json.investment_query }}"
      },
      "type": "n8n-nodes-olostep.olostepScrape",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "eadc11c9-7c32-4066-b116-6e7de508892e",
      "name": "Olostep Search - Investment Sources"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst watchlist = items.map(item => {\n  return {\n    ticker: item.json.ticker || \"Unknown\",\n    sources: item.json.organic || item.json.results || item.json.data || []\n  };\n});\n\nconst first = items[0]?.json || {};\n\nreturn [\n  {\n    json: {\n      report_date: new Date().toISOString().split(\"T\")[0],\n      watchlist,\n      email_to: first.email_to || \"recipient@example.com\",\n      email_from: first.email_from || \"sender@example.com\",\n      email_subject_prefix: first.email_subject_prefix || \"Daily Investment Research Report\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ],
      "id": "885dd7e2-81d5-4b78-a321-32731e7fd4aa",
      "name": "Combine Ticker Research"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "GPT-5.4-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an investment research assistant.\n\nYou will receive search and scraped web results for multiple stock tickers. Your job is to turn the results into one clean Markdown email report for the full watchlist.\n\nImportant rules:\n- Create only one complete report for the full watchlist.\n- Do not repeat the title, generated date, executive summary, or disclaimer for each ticker.\n- Do not give direct buy, sell, or hold advice.\n- Do not say \"invest in this\" or \"sell this\".\n- Do not predict stock prices.\n- Do not invent numbers or facts.\n- Use only the information provided in the input.\n- If information is missing, write \"Not found in provided sources.\"\n- Keep the report concise but useful.\n- Group the report by ticker/company.\n- Include source links under each company.\n- For each company, include a neutral \"Signal Summary\" with: Opportunity Signals, Risk / Exit Watch Signals, and Research Priority.\n- Research Priority may be High / Medium / Low, but it must not be framed as financial advice.\n\nReport date:\n{{ $json.report_date }}\n\nInput data:\n{{ JSON.stringify($json.watchlist) }}\n\nCreate the Markdown report using this structure:\n\n# Daily Investment Research Report\n\nGenerated on: {{ $json.report_date }}\n\n## Executive Summary\n\nWrite 5-7 bullets summarizing the most important findings across all tickers.\n\n## Watchlist Signal Table\n\nCreate a simple Markdown table with these columns:\n| Ticker | Opportunity Signals | Risk / Exit Watch Signals | Research Priority |\n\nImportant: The table must not include Buy, Sell, or Hold recommendations.\n\n## Ticker-by-Ticker Analysis\n\nFor each ticker or company found in the input, create this section:\n\n### [Company Name] ([Ticker if available])\n\n#### Key Sources Reviewed\n- [Source title](Source URL)\n- [Source title](Source URL)\n\n#### Recent Updates\nSummarize the most important recent updates from the sources.\n\n#### Opportunity Signals\n- Bullet 1\n- Bullet 2\n- Bullet 3\n\n#### Risk / Exit Watch Signals\n- Bullet 1\n- Bullet 2\n- Bullet 3\n\n#### Financial / Earnings Signals\nSummarize any revenue, earnings, margin, guidance, or filing-related information found.\n\n#### Competitive Position\nSummarize any information about competitors, market position, product demand, or sector trends.\n\n#### Investor Questions to Investigate Next\n- Question 1\n- Question 2\n- Question 3\n\n#### Research Confidence\nChoose one: High / Medium / Low\n\nExplain the confidence rating in one short sentence.\n\n---\n\n## Cross-Watchlist Themes\n\nSummarize patterns across all companies, such as AI demand, data center growth, margin pressure, regulatory risk, leadership changes, earnings momentum, and competitive pressure.\n\n## Red Flags to Monitor\n\nList the most important risks found across the full watchlist.\n\n## Follow-Up Research Checklist\n\n- Review latest 10-K or 10-Q filings\n- Compare latest earnings call transcripts\n- Check revenue guidance\n- Review analyst downgrades or upgrades\n- Look for lawsuits, investigations, layoffs, or executive changes\n\n## Disclaimer\n\nThis report is generated from public web research and is for research automation only. It is not financial advice. It does not provide buy, sell, or hold recommendations.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.2,
      "position": [
        1120,
        96
      ],
      "id": "dd421e8e-7a3b-4657-8142-9a415e44550b",
      "name": "OpenAI - Create Full Watchlist Email Report"
    },
    {
      "parameters": {
        "jsCode": "const markdown = $json.output?.[0]?.content?.[0]?.text || $json.text || \"\";\n\nconst escapeHtml = (str) =>\n  String(str)\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n\nlet html = escapeHtml(markdown);\n\n// Markdown links and bold\nhtml = html\n  .replace(/\\*\\*(.*?)\\*\\*/gim, \"<strong>$1</strong>\")\n  .replace(/\\[(.*?)\\]\\((.*?)\\)/gim, '<a href=\"$2\">$1</a>');\n\n// Headings\nhtml = html\n  .replace(/^#### (.*$)/gim, \"<h4>$1</h4>\")\n  .replace(/^### (.*$)/gim, \"<h3>$1</h3>\")\n  .replace(/^## (.*$)/gim, \"<h2>$1</h2>\")\n  .replace(/^# (.*$)/gim, \"<h1>$1</h1>\")\n  .replace(/^---$/gim, \"<hr />\");\n\n// Convert simple Markdown tables before paragraph wrapping\nhtml = html.replace(/((?:^|\\n)\\|.+\\|\\n\\|[-:\\s|]+\\|\\n(?:\\|.+\\|\\n?)+)/g, (tableBlock) => {\n  const rows = tableBlock.trim().split(\"\\n\");\n  const headers = rows[0].split(\"|\").slice(1, -1).map(h => h.trim());\n  const bodyRows = rows.slice(2).map(row => row.split(\"|\").slice(1, -1).map(c => c.trim()));\n  const thead = `<thead><tr>${headers.map(h => `<th>${h}</th>`).join(\"\")}</tr></thead>`;\n  const tbody = `<tbody>${bodyRows.map(cols => `<tr>${cols.map(c => `<td>${c}</td>`).join(\"\")}</tr>`).join(\"\")}</tbody>`;\n  return `<table>${thead}${tbody}</table>`;\n});\n\n// Convert bullet lists\nhtml = html.replace(/(?:^|\\n)(- .*(?:\\n- .*)*)/g, (match) => {\n  const items = match\n    .trim()\n    .split(\"\\n\")\n    .map(line => `<li>${line.replace(/^- /, \"\")}</li>`)\n    .join(\"\");\n  return `<ul>${items}</ul>`;\n});\n\n// Convert remaining lines into paragraphs\nhtml = html\n  .split(\"\\n\")\n  .map(line => {\n    const trimmed = line.trim();\n    if (!trimmed) return \"\";\n    if (\n      trimmed.startsWith(\"<h\") ||\n      trimmed.startsWith(\"<ul\") ||\n      trimmed.startsWith(\"<li\") ||\n      trimmed.startsWith(\"</ul\") ||\n      trimmed.startsWith(\"<hr\") ||\n      trimmed.startsWith(\"<table\") ||\n      trimmed.startsWith(\"<thead\") ||\n      trimmed.startsWith(\"<tbody\") ||\n      trimmed.startsWith(\"<tr\") ||\n      trimmed.startsWith(\"<th\") ||\n      trimmed.startsWith(\"<td\") ||\n      trimmed.startsWith(\"</table\")\n    ) {\n      return trimmed;\n    }\n    return `<p>${trimmed}</p>`;\n  })\n  .join(\"\\n\");\n\nconst reportDate = new Date().toISOString().split(\"T\")[0];\nconst subjectPrefix = $json.email_subject_prefix || \"Daily Investment Research Report\";\n\nconst emailHtml = `<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n</head>\n<body style=\"margin:0; padding:0; background:#f3f4f6; font-family:Arial, Helvetica, sans-serif; color:#111827;\">\n  <div style=\"max-width:820px; margin:0 auto; padding:24px 14px;\">\n    <div style=\"background:#ffffff; border:1px solid #e5e7eb; border-radius:12px; overflow:hidden;\">\n      <div style=\"padding:22px 24px; border-bottom:3px solid #111827;\">\n        <div style=\"font-size:11px; letter-spacing:0.12em; text-transform:uppercase; color:#6b7280; margin-bottom:8px;\">\n          Automated Investment Research\n        </div>\n        <h1 style=\"font-size:26px; line-height:1.2; margin:0 0 6px 0; color:#0f172a;\">\n          Daily Investment Research Report\n        </h1>\n        <div style=\"font-size:12px; color:#6b7280;\">Generated on ${reportDate}</div>\n      </div>\n\n      <div style=\"padding:16px 24px; background:#f8fafc; border-bottom:1px solid #e5e7eb; font-size:13px; color:#374151;\">\n        This automated email summarizes opportunity signals, risk signals, and research priorities from public sources. It is not financial advice and does not provide buy, sell, or hold recommendations.\n      </div>\n\n      <div class=\"report-content\" style=\"padding:8px 24px 24px 24px; font-size:14px; line-height:1.55;\">\n        ${html}\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\n// Add email-safe styling after Markdown conversion\nconst styledHtml = emailHtml\n  .replace(/<h1>/g, '<h1 style=\"font-size:24px; line-height:1.2; margin:18px 0 8px; color:#0f172a;\">')\n  .replace(/<h2>/g, '<h2 style=\"font-size:18px; margin:24px 0 10px; padding-bottom:6px; border-bottom:1px solid #e5e7eb; color:#111827;\">')\n  .replace(/<h3>/g, '<h3 style=\"font-size:16px; margin:22px 0 10px; padding:10px 12px; border-left:4px solid #111827; background:#f9fafb; color:#111827;\">')\n  .replace(/<h4>/g, '<h4 style=\"font-size:12px; margin:16px 0 8px; color:#374151; text-transform:uppercase; letter-spacing:0.05em;\">')\n  .replace(/<p>/g, '<p style=\"margin:7px 0;\">')\n  .replace(/<ul>/g, '<ul style=\"margin:8px 0 14px 20px; padding:0;\">')\n  .replace(/<li>/g, '<li style=\"margin:4px 0;\">')\n  .replace(/<a /g, '<a style=\"color:#1d4ed8; text-decoration:none; word-break:break-word;\" ')\n  .replace(/<hr \\/>/g, '<hr style=\"border:0; border-top:1px solid #d1d5db; margin:24px 0;\" />')\n  .replace(/<table>/g, '<table style=\"width:100%; border-collapse:collapse; margin:12px 0 18px; font-size:13px;\">')\n  .replace(/<th>/g, '<th style=\"border:1px solid #e5e7eb; padding:8px; text-align:left; background:#f9fafb;\">')\n  .replace(/<td>/g, '<td style=\"border:1px solid #e5e7eb; padding:8px; vertical-align:top;\">');\n\nreturn [\n  {\n    json: {\n      email_to: $('Split Tickers').first().json.email_to,\n      email_from: $('Split Tickers').first().json.email_from,\n      email_subject: `${subjectPrefix} - ${reportDate}`,\n      email_html: styledHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        96
      ],
      "id": "48e5fae0-2dc8-4add-9762-e72e1540bf6e",
      "name": "Build HTML Email Body"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}",
        "options": {
          "senderName": "Investment Research Bot"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1696,
        96
      ],
      "id": "81499694-057c-448f-9d16-94c0cda2997b",
      "name": "Send HTML Email via Gmail"
    }
  ],
  "pinData": {},
  "connections": {
    "Weekday Market Open Trigger": {
      "main": [
        [
          {
            "node": "Investment Watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Investment Watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Investment Watchlist": {
      "main": [
        [
          {
            "node": "Split Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tickers": {
      "main": [
        [
          {
            "node": "Olostep Search - Investment Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Olostep Search - Investment Sources": {
      "main": [
        [
          {
            "node": "Combine Ticker Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Ticker Research": {
      "main": [
        [
          {
            "node": "OpenAI - Create Full Watchlist Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Create Full Watchlist Email Report": {
      "main": [
        [
          {
            "node": "Build HTML Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Email Body": {
      "main": [
        [
          {
            "node": "Send HTML Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [
    {
      "name": "Olostep",
      "id": "NsSSal6pEKzjsy4T",
      "updatedAt": "2026-04-29T07:22:10.939Z",
      "createdAt": "2026-04-29T07:22:10.939Z"
    },
    {
      "name": "Investment Research",
      "id": "UtEgPHsIQ9SrO4Vl",
      "updatedAt": "2026-04-29T07:22:10.945Z",
      "createdAt": "2026-04-29T07:22:10.945Z"
    }
  ]
}
